<details {% if page.url contains 'Enum' %}open{% endif %}>
  <summary>
    Enumerations
  </summary>
  <ul>
    <li>
      {% include file-explorer-link.html name="IFTEnum" path="/Documentation/IFTEnum" %}
    </li>
    <li>
      {% include file-explorer-link.html name="IsotropyEnum" path="/Documentation/IsotropyEnum" %}
    </li>
    <li>
      {% include file-explorer-link.html name="OrientEnum" path="/Documentation/OrientEnum" %}
    </li>
    <li>
      {% include file-explorer-link.html name="SeqEnum" path="/Documentation/SeqEnum" %}
    </li>
  </ul>
</details>

<details {% if page.url contains '/Documentation/ForwardModel' %}open{% endif %}>
  <summary>
    {% include file-explorer-link.html name="ForwardModel" path="/Documentation/ForwardModel" %}
  </summary>
  <ul>
    <li>
      {% include file-explorer-link.html name="plot" path="/Documentation/ForwardModel/plot" %}
    </li>
    <li>
      {% include file-explorer-link.html name="solve" path="/Documentation/ForwardModel/solve" %}
    </li>
  </ul>
</details>

<details {% if page.url contains '/Documentation/IFTSolver' %}open{% endif %}>
  <summary>
    {% include file-explorer-link.html name="IFTSolver" path="/Documentation/IFTSolver" %}
  </summary>
  <ul>
    <li>
      {% include file-explorer-link.html name="solve" path="/Documentation/IFTSolver/solve" %}
    </li>
  </ul>
</details>

<details {% if page.url contains '/Documentation/Layer' %}open{% endif %}>
  <summary>
    {% include file-explorer-link.html name="Layer" path="/Documentation/Layer" %}
  </summary>
  <ul>
    <li>
      {% include file-explorer-link.html name="toTensor" path="/Documentation/Layer/toTensor" %}
    </li>
  </ul>
</details>
