<nav class="navbar">
  <div class="nav-left">
    <a href="{{ "/" | relative_url }}">
      <img src="{{ '/assets/img/MLTI.png' | relative_url }}" alt="MLTI Logo" class="nav-logo">
    </a>
  </div>

  <!-- Hamburger (for mobile) -->
  <div class="nav-toggle" id="navToggle">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-right" id="navMenu">
    <li><a href="{{ '/Documentation' | relative_url }}">Documentation</a></li>
    <li><a href="{{ '/about/' | relative_url }}">About</a></li>
    <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
    <li><a href="{{ site.github.repository_url }}">GitHub</a></li>
  </ul>
</nav>

<script>
  // mobile toggle
  const navToggle = document.getElementById("navToggle");
  const navMenu = document.getElementById("navMenu");

  navToggle.addEventListener("click", () => {
    navMenu.classList.toggle("show");
  });
</script>
